@font-face {
    font-family: dirty_headlineregular;
    src: url("/assets/fonts/dirtyheadline2-webfont.woff") format("woff");
}

@media (min-width:1000px) {
  .hideondesktop {
    display: none !important;
  }
}

/* En vue mobile, adaptation du rendu du tableau*/
@media (max-width:1000px){
  .mobileview tr td:nth-child(1)  {
    display: none !important;
  }
  .mobileview tr th:nth-child(1)  {
    display: none !important;
  }

  .mobileview tr td:nth-child(2)  {
    width: 33% !important;
  }
  .mobileview tr th:nth-child(2)  {
    width: 33% !important;
  }

  .mobileview tr td:nth-child(4)  {
    display: none !important;
  }
  .mobileview tr th:nth-child(4)  {
    display: none !important;
  }

  .mobileview tr td:nth-child(5)  {
    display: none !important;
  }
  .mobileview tr th:nth-child(5)  {
    display: none !important;
  }
}

.input-global-filter {
  width: 100%;
}
.input-filtre-nom {
  width: 100%;
}
.input-filtre-cavalier {
  width: 100%;
}
.input-filtre-cavaliere {
  width: 100%;
}
.dropdown-filtre-type > div {
  width: 100%;
}

.hidelongtext {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 75ch;
}

.align-middle {
  vertical-align: sub !important;
}
