@font-face {
    font-family: dirty_headlineregular;
    src: url("/assets/fonts/dirtyheadline2-webfont.woff") format("woff");
}

/* En vue mobile, on cache les colones "notes cavalier" et "notes cavaliere"*/
@media (max-width:1000px){
  .mobilehidden tr td:nth-child(4)  {
    display: none !important;
  }
  .mobilehidden tr th:nth-child(4)  {
    display: none !important;
  }

  .mobilehidden tr td:nth-child(5)  {
    display: none !important;
  }
  .mobilehidden tr th:nth-child(5)  {
    display: none !important;
  }
}

.input-global-filter {
  width: 50%;
}
.input-filtre-nom {
  width: 100%;
}
.input-filtre-cavalier {
  width: 100%;
}
.input-filtre-cavaliere {
  width: 100%;
}
.dropdown-filtre-type > div {
  width: 100%;
}

.hidelongtext {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 75ch;
}

.align-middle {
  vertical-align: sub !important;
}
